<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <link rel="canonical" href="https://getbootstrap.su/docs/5.0/examples/sign-in/">
    <link rel="shortcut icon" href="{{ url_for('static',filename='/img/Office Athlete logo.svg') }}" type="image/x-icon">


    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static',filename='/css/bootstrap.min.css') }}" rel="stylesheet" crossorigin="anonymous">
    <meta name="theme-color" content="#7952b3">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <link href="{{ url_for('static',filename='/css/signin.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='/css/dbstyle.css') }}">
    {% block css_links %}
    {% endblock %}
{#    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">#}
  </head>

<body class="db_bg_main_color db_main_beackpic">
{% block header %}

{% endblock %}

{% block flash %}
    {% with msgs = get_flashed_messages() %}
        {% for msg in msgs %}
            <p>{{ msg }}</p>
        {% endfor %}
    {% endwith %}
{% endblock %}

{% block main %}

{% endblock %}

{% block footer %}

{% endblock %}
</body>
</html>