{% extends "base.html" %}
{% block header %}

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark mb-auto pb-auto">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="{{ url_for('static',filename='/img/Office Athlete logo.svg') }}" alt="Bootstrap" width="50" height="50">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0 fs-5">
                    <li class="nav-item">
                        <a class="nav-link text-warning" aria-current="page" href="/test/{{ session.last_test }}">Test</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-warning" href="/profile">My Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-warning" href="/recommendations">Recommendations</a>
                    </li>
                </ul>
                <form class="d-flex" action="#">
                    <button class="btn btn-warning">Hello {{ name }}</button>
                </form>
                <p>    </p>
                <form class="d-flex" action="/logout">
                    <button class="btn btn-warning" type="submit">Logout</button>
                </form>

            </div>
        </div>
    </nav>
    <script src="{{ url_for('static',filename='/js/bootstrap.bundle.min.js') }}" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
{% endblock %}

{% block footer %}

<div class="pt-2 border-top bg-dark container-fluid text-warning border-warning fixed-bottom footer_cor text-center mt-3">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-3">
            <p>Телефон: +7-999-666-44-33</p>
        </div>
        <div class="col-3">
            <p>Email: mail@gmail.com</p>
        </div>
        <div class="col-3"></div>
    </div>
</div>

{% endblock %}