{% extends "registration_base.html" %}

{% block information %}
    <h1 class="h3 mb-3 fw-normal">Please, login</h1>

    <div class="form-floating">
        <input type="text" class="form-control bg-secondary" id="floatingInput" name="meta">
        <label for="floatingInput" style="color: #ffc107;">{{ meta_fill }}</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control bg-secondary" id="floatingPassword" name="password">
        <label for="floatingPassword" style="color: #ffc107;">{{ password_fill }}</label>
    </div>
{% endblock %}

{% block reg_change %}
    <a class="nav-link text-warning" href="/sign_up">Sign up</a>
{% endblock %}