{% extends "header_base.html" %}


{% block title %}Recommendations{% endblock %}

{% block css_links %}
    <link href="{{ url_for('static',filename='/css/grid.css') }}" rel="stylesheet">

{% endblock %}

{% block main %}
    <div class="container">
        <p class="mt-5">Track your results here!</p>
        <div class="row mb-3">
            <div class="col-md-8 themed-grid-col">
                <div class="pb-3">
                    Your account data
                </div>
                <div class="row">
                    <div class="col-md-6 themed-grid-col">Your best level:</div>
                    <div class="col-md-6 themed-grid-col">{{ cur_level }}</div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            {% if cur_level==0 %}
                <div class="pb-3">
                    please, take a test to determine your training plan
                </div>
            {% else %}
                <div class="pb-3">
                    <div class="row mb-3">
                        <div class="col-md-8 themed-grid-col">
                            Adjusting to your physical level ({{ cur_level }}), we can offer you this plan:
                            <div class="row">
                                <div class="col-md-6 themed-grid-col">Monday
                                    {% for task in rec_tasks %}
                                        {% if task.day == 1 %}
                                            <div class="row">
                                                <div class="col-md-6 themed-grid-col">{{ task.task_name }}</div>
                                                <div class="col-md-6 themed-grid-col">{{ task.times }}</div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="col-md-6 themed-grid-col">Tuesday
                                    {% for task in rec_tasks %}
                                        {% if task.day == 2 %}
                                            <div class="row">
                                                <div class="col-md-6 themed-grid-col">{{ task.task_name }}</div>
                                                <div class="col-md-6 themed-grid-col">{{ task.times }}</div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="col-md-6 themed-grid-col">Wednesday
                                    {% for task in rec_tasks %}
                                        {% if task.day == 3 %}
                                            <div class="row">
                                                <div class="col-md-6 themed-grid-col">{{ task.task_name }}</div>
                                                <div class="col-md-6 themed-grid-col">{{ task.times }}</div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="col-md-6 themed-grid-col">Thursday
                                    {% for task in rec_tasks %}
                                        {% if task.day == 4 %}
                                            <div class="row">
                                                <div class="col-md-6 themed-grid-col">{{ task.task_name }}</div>
                                                <div class="col-md-6 themed-grid-col">{{ task.times }}</div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="col-md-6 themed-grid-col">Friday
                                    {% for task in rec_tasks %}
                                        {% if task.day == 5 %}
                                            <div class="row">
                                                <div class="col-md-6 themed-grid-col">{{ task.task_name }}</div>
                                                <div class="col-md-6 themed-grid-col">{{ task.times }}</div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="col-md-6 themed-grid-col">Saturday
                                    {% for task in rec_tasks %}
                                        {% if task.day == 6 %}
                                            <div class="row">
                                                <div class="col-md-6 themed-grid-col">{{ task.task_name }}</div>
                                                <div class="col-md-6 themed-grid-col">{{ task.times }}</div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="col-md-6 themed-grid-col">Sunday
                                    {% for task in rec_tasks %}
                                        {% if task.day == 7 %}
                                            <div class="row">
                                                <div class="col-md-6 themed-grid-col">{{ task.task_name }}</div>
                                                <div class="col-md-6 themed-grid-col">{{ task.times }}</div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>

                            </div>

                        </div>

                    </div>
                </div>

            {% endif %}
        </div>
    </div>

{% endblock %}