{% extends "header_base.html" %}


{% block title %}Test{% endblock %}

{% block css_links %}
<link rel="stylesheet" href="{{ url_for('static',filename='/css/tests.css') }}">
{% endblock %}

{% block main %}
<body class="db_bg_main_color db_main_beackpic">
<div class="card mt-5 bg-dark text-light">
    <div class="card-body">
        <main class="form-question text-center">
            <h1 class="text-center">Question {{ index|int }}</h1>

        </main>
        <h2 class="text-center">{{ question }}</h2>
        <main class="form-variants">
            <form action="{{ '/test/' + (index|string) }}" id='a' method="POST">
                {% for i in range(pos_answers|length) %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="{{ pos_answers[i].text }}" name="{{ 'check' +(i|string) }}" id="{{ 'check'+(i|string) }}" onchange="function checkout_others(id={{ i|string }}) {
                            let i ;
                            for (let y = 0; y < {{ pos_answers|length }}; y ++){
                            i = document.getElementById('check'+y);
                            if ('check'+id !== i.id){
                            i.checked = false;
                            }
                            }
                            }
                            checkout_others()">
                    <label class="form-check-label" for="flexCheckDefault">
                        {{ pos_answers[i].text }}
                    </label>
                </div>
                {% endfor %}

                <div class="d-grid gap-2 mx-auto mt-2">
                    <button type="submit" class="btn btn-warning" formaction="{{ "
                    /test/"+ (n_index|string) }}" >{{ next_btn_text}}</button>
                    <button type="submit" class="btn btn-warning" formaction="{{ "
                    /test/"+ (p_index|string) }}">{{ prev_btn_text}}</button>
                </div>
            </form>
        </main>
    </div>
</div>
</body>
{% endblock %}